<ion-view view-title="Get Yourself Out There!">
  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
       <input type="text" placeholder="Search your city" ng-model="city">
      </label>
      <button class="button button-small" ng-click="searchCity(city)">
        Search
      </button>
    </div>
    <div class="list" show-delete="data.shouldShowDelete">
      <div ng-repeat="hackathon in hackathons.data.events track by $index" class="item item-button-right item-text-wrap">
        <!-- <button class="button button-calm"> -->
          <!-- <img src="{{hackathon.logo.url}} limitLogo"> -->
        <!-- </button> -->
          <span class="limitText">{{hackathon.name.text}}</span>


          <a href="{{hackathon.url}}" ng-click="window.open('{{hackathon.url}}', '_system', 'location=yes', '_system')" class="button button-balanced">Link</a>
       </div>
    <div>

   <!--  <div class="whiteLinks"><a href="http://www.eventbrite.com/e/dmc-hackathon-digital-factory-challenge-tickets-25492189826?aff=ebapi" ng-click="window.open('http://www.eventbrite.com/e/dmc-hackathon-digital-factory-challenge-tickets-25492189826?aff=ebapi', '_system', 'location=yes')">Test WL</a></div> -->
  </ion-content>
</ion-view>

